<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer component 3</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<!-- The body inline styles and the empty div are only used for demo purposes to push down the footer. -->

<body style="display: flex; flex-direction: column; justify-content: space-between; height: 100vh;">
    <div></div>
    <!-- The body inline styles and the empty div are only used for demo purposes to push down the footer. -->

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__top">
                <div class="company__info">
                    <h2 class="company__logo">Mundo Mascotas</h2>
                    <p class="company__description">La tienda donde encontraras todo aquellos que necesites para tu mascota.</p>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link">
                                <i class="ri-facebook-circle-line"></i>
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link">
                                <i class="ri-twitter-line"></i>
                            </a>
                        </li>
                    </ul>
                    <span class="copyright">&copy;2021 Mundo Mascotas. Todos los derechos estan reservados.</span>
                </div>

                <div>
                    <h6 class="footer__title">Crea tu cuenta con Mundo Mascotas!</h6>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/login/register" class="footer__list-link">Registrate</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h6 class="footer__title">Nuestros productos estrella</h6>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/listado/categoria/accesorios" class="footer__list-link">Accesorios</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="/listado/animal/perro" class="footer__list-link">Perro</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="/listado/categoria/alimento" class="footer__list-link">Alimento</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h6 class="footer__title">Contactanos</h6>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">(54) 221 3456 7890</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">info@mundomascotas.com.ar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>