<header>
    <div class="contenedor">
    <div class="top-header">
        <span class="logo-chico">
            <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
        </span>
    </div>
    <div class="top-header">
        <nav>  
            <span class="form" action="label" method="GET">
                <span class="barra-de-busqueda">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </span>
            </span>
        </nav>

        <!-- <div>
        <h2>SearchPrueba</h2>
        <form action="/producto/search">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        </div> -->

    </div>
    <div class="top-header">
        <nav>
            <% if (locals.isLogged){ %>
           <span><a href="/perfil"><i class="fas fa-user-alt"></i></a></span> 
           <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
           <% } else { %>
            <button class="btn btn-primary" type="submit"><a href="/administrar">Administrador</a></button>
            <button class="btn btn-primary" type="submit"><a href="/login/register">Registrate</a></button>
            <button class="btn btn-primary" type="submit"><a href="/login">Log In</a></button>
            <% } %>
        </nav>    
    </div>   
    </div>
    <div class="top-header">
        <nav class="desplegables">
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mascotas
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/animal/1" category="perro">Perros</a></li>
                        <li><a class="dropdown-item" href="/animal/2" category="gato">Gatos</a></li>
                    </ul>
            </span>
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Marcas
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/marca/3" category="pedigree">Pedigree</a></li>
                        <li><a class="dropdown-item" href="/marca/15" category="purina">Purina</a></li>
                        <li><a class="dropdown-item" href="/marca/4" category="royal canin">Royal Canin</a></li>
                        <li><a class="dropdown-item" href="/marca/2"category= "otra marca">Cat Chow</a></li>
                        <li><a class="dropdown-item" href="/marca/12"category= "otra marca">Can Cat</a></li>
                        <li><a class="dropdown-item" href="/marca/8"category= "otra marca">Pro Plan</a></li>
                        <li><a class="dropdown-item" href="/marca/11"category= "otra marca">Whiskas</a></li>
                    </ul>
            </span>
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/categoria/1" category="alimento">Alimento</a></li>
                        <li><a class="dropdown-item" href="/categoria/3" category="accesorios">Accesorios</a></li>
                        <li><a class="dropdown-item" href="/categoria/2" category="juguetes">Juguetes</a></li>
                    </ul>
            </span>
        </nav>
    </div>
</header>