<header>
    <div class="contenedor">
    <div class="top-header">
        <span class="logo-chico">
            <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
        </span>
    </div>
    <div class="top-header">
        <nav>  
            <span class="form" action="label" method="GET">
                <span class="barra-de-busqueda">
                    <!-- <input type="search" placeholder="Búsqueada">
                    <span class="submit">
                        <button class="fa fa-search" type="submit"></button>
                    </span> -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                      </form>
                </span>
            </span>
        </nav>
    </div>
    <div class="top-header">
        <nav>
           <span><a href="/login"><i class="fas fa-user-alt"></i></a></span> 
           <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
            <button class="btn btn-primary" type="submit"><a href="/login/register">Registrate</a></button>
        </nav>    
    </div>   
    </div>
    <div class="top-header">
        <nav>
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mascotas
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/listado/animal/perro" category="perro">Perros</a></li>
                        <li><a class="dropdown-item" href="/listado/animal/gato" category="gato">Gatos</a></li>
                    </ul>
            </span>
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Marcas
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/listado/marca/pedigree" category="pedigree">Pedigree</a></li>
                        <li><a class="dropdown-item" href="/listado/marca/purina" category="purina">Purina</a></li>
                        <li><a class="dropdown-item" href="/listado/marca/royalcanin" category="royal canin">Royal Canin</a></li>
                        <li><a class="dropdown-item" href="/listado/marca/catchow"category= "otra marca">Cat Chow</a></li>
                        <li><a class="dropdown-item" href="/listado/marca/cancat"category= "otra marca">Can Cat</a></li>
                        <li><a class="dropdown-item" href="/listado/marca/cancat"category= "otra marca">Pro Plan</a></li>
                        <li><a class="dropdown-item" href="/listado/marca/whiskas"category= "otra marca">Whiskas</a></li>
                    </ul>
            </span>
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/listado/categoria/alimento" category="alimento">Alimento</a></li>
                        <li><a class="dropdown-item" href="/listado/categoria/accesorios" category="accesorios">Accesorios</a></li>
                        <li><a class="dropdown-item" href="/listado/categoria/juguetes" category="juguetes">Juguetes</a></li>
                    </ul>
            </span>
        </nav>
    </div>
</header>