<header>
    <p class="texto-header">Bienvenidos a Mundo Mascotas</p>
    <div class="contenedor">
    <div class="top-header">
        <span class="logo-chico">
            <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
        </span>
    </div>
    <div class="top-header">
        <nav>  
            <span class="form" action="label" method="GET">
                <span class="barra-de-busqueda">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </span>
            </span>
        </nav>

        <!-- <div>
        <h2>SearchPrueba</h2>
        <form action="/producto/search">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        </div> -->

    </div>
    <div class="top-header">
        <nav>
            <% if (locals.isLogged){ %>
           <span><a href="/perfil"><i class="fas fa-user-alt"></i></a></span> 
           <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
           <% } else { %>
            <button class="btn btn-light" type="submit"><a href="/login/register">Registrate</a></button>
            <button class="btn btn-light" type="submit"><a href="/login">Log In</a></button>
            <a href="/login/perfil"><i class="fa-regular fa-user"></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping">
                <!-- <img onclick="showCart(this)" class="cart" src="./images/cart.png" alt="">
                <p class="count-product">0</p> -->
                <span class=" top-0 start-100 translate-middle badge rounded-pill bg-danger"style="font-size: 11px;">7</span>
            </i></a>           
            <% } %>

            
                <!-- <img class="logo" src="./images/logoShop.png" alt="">
                <div>
                    <img onclick="showCart(this)" class="cart" src="./images/cart.png" alt="">
                    <p class="count-product">0</p>
                </div>
                <div class="cart-products" id="products-id">
                    <p class="close-btn" onclick="closeBtn()">X</p>
                    <h3>Mi carrito</h3>
                    <div class="card-items">
                    </div>
                    <h2>Total: $<strong class="price-total">0</strong></h2>
                </div> -->
            


        </nav>    
    </div>   
    </div>
    <div class="desplegables-header">
        <nav class="desplegables">

            <span class="dropdown">
                <button class="boton-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mascotas
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/animal/1" category="perro">Perros</a></li>
                        <li><a class="dropdown-item" href="/animal/2" category="gato">Gatos</a></li>
                    </ul>
            </span>
            <span class="dropdown">
                <button class="boton-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Marcas
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/marca/3" category="pedigree">Pedigree</a></li>
                        <li><a class="dropdown-item" href="/marca/15" category="purina">Purina</a></li>
                        <li><a class="dropdown-item" href="/marca/4" category="royal canin">Royal Canin</a></li>
                        <li><a class="dropdown-item" href="/marca/2"category= "otra marca">Cat Chow</a></li>
                        <li><a class="dropdown-item" href="/marca/12"category= "otra marca">Can Cat</a></li>
                        <li><a class="dropdown-item" href="/marca/8"category= "otra marca">Pro Plan</a></li>
                        <li><a class="dropdown-item" href="/marca/11"category= "otra marca">Whiskas</a></li>
                        <li><a class="dropdown-item" href="/marca/1"category= "otra marca">Dog Chow</a></li>
                        <li><a class="dropdown-item" href="/marca/5"category= "otra marca">Proplan</a></li>
                        <li><a class="dropdown-item" href="/marca/6"category= "otra marca">Eukanuba</a></li>
                        <li><a class="dropdown-item" href="/marca/7"category= "otra marca">Balanced</a></li>
                        <li><a class="dropdown-item" href="/marca/9"category= "otra marca">Excellent</a></li>
                        <li><a class="dropdown-item" href="/marca/10"category= "otra marca">Dogui</a></li>
                        <li><a class="dropdown-item" href="/marca/13"category= "otra marca">MSD</a></li>
                        <li><a class="dropdown-item" href="/marca/14"category= "otra marca">OSSPRET</a></li>
                        </ul>
            </span>
            <span class="dropdown">
                <button class="boton-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/categoria/1" category="alimento">Alimento</a></li>
                        <li><a class="dropdown-item" href="/categoria/3" category="accesorios">Accesorios</a></li>
                        <li><a class="dropdown-item" href="/categoria/2" category="juguetes">Juguetes</a></li>
                        <li><a class="dropdown-item" href="/categoria/4" category="juguetes">Higiene</a></li>
                        <li><a class="dropdown-item" href="/categoria/5" category="juguetes">Antipulgas</a></li>
                    </ul>
            </span>
        </nav>
    </div>
</header>