* {
  color:black;
}

thead {
  background-color: rgba(111, 116, 116, 0.8);
}

td {
  padding: 4px 12px;
  text-align: end;
}

table {
  border-collapse: collapse;
}

tbody {
  background-color: rgba(111, 116, 116, 0.4);
}

img {
  border-radius: 50%;
}

.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

button{height: 50%;
background-color: darkgoldenrod     ;}