<!DOCTYPE html>
    <html lang ="es">
        <head>
            <title>Ingresa a tu cuenta</title>
            <meta charset = "UTF-8">
            <link href = "css/login.css" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link href = https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css rel = "stylesheet">
        </head>
        <body>
            <header>
                <div class ="logo-banner"><img class="logo-banner" src = "images/Captura de Pantalla 2022-10-05 a la(s) 17.24.07.png" alt="Banner Mundo Mascotas"></div>
            </header>
            <section class="form-login">
                <div><img class="logo-chico" src = "images/Captura de Pantalla 2022-10-05 a la(s) 17.29.13.png" alt="Banner Mundo Mascotas"></div>
                <form action="/productCart" method="get"> 
                    <label class="logo">Iniciar sesión en Mundo Mascotas</label>
                    <div class="elem-group"> 
                        <input class="elem-group" type="email" id="email" name="client_email" placeholder="nombre@mundomascotas.com.ar" required> 
                    </div> 
                    <div class="elem-group">
                             <input class="elem-group" type="password" id="pass" name="password" placeholder="Contraseña" minlength="8" required>
                    </div>
                    <div>
                     <button type="submit">INGRESAR</button>
                    </div>
                </form>
            <footer>
                <span class="next"><a href="/Olvidaste-tu-contraseña">¿Olvidaste tu contraseña?</a></span>
                <span class="next"><a href="/register">Registrate en Mundo Mascotas</a></span>
            </footer>
            </section>

        </body>