* {
  margin: 0;
  box-sizing: border-box;
  color: black;
}
p{
  margin: 0;
}
thead {
  background-color: rgba(111, 116, 116, 0.8);
}

td {
  padding: 4px 12px;
  text-align: end;
  height: auto;
}
tr{
  border-bottom: 0.5px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tbody {
  background-color: rgba(111, 116, 116, 0.4);
}

img {
  border-radius: 50%;
}


.delete {
  cursor: pointer;
}
button {
  display: inline;
  margin: 0 8px;
  background-color: darkgoldenrod;
  min-width: 14px;
}

.container{
  margin-top: 10vh;
}

.detalle{
  list-style: none;
  margin-top: 5vh;
}

.checkout{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}