*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #FFC97D;
}

header{
    display: flex;
}
.barra-de-busqueda{
    flex-grow: 4;
}
img.logo-chico{
    width: 50px;
    height: 50px;
    border-radius: 120ch;
    bottom:2cm;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
form{
    display: flex;
    margin:1cm;
    flex-direction: column;
    justify-content: center;
    background-color:  #D5EAF7;
    padding:1cm;
    text-align: center;
}
.logo-grande{
    border-radius: 60%;
    width: 2cm;
    height: 2cm;
    padding: 1%;
    margin-top: 2cm;
}

.banner{
    background-color: #a87731;
    align-content: center;
    text-align: center;
    margin-bottom: 1cm;;
}

input.elem-group{
    width:100%;
}

section.button{
    background-color: #4B86AB;
}
.logo-2{
    margin-top: 2cm;
    border-radius: 120px;
    height: 2cm;
    width: 2cm;
    align-items: center;   
    justify-content: center;
}
