*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #FFC97D;
}
section{
    padding: 5%;
    align-items: center;   
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img.logo-banner{
    height: 6cm;
    width: min-content;
    width: 100%;


}
header{
    align-content: center;
    align-items: center;
}

label.logo{
    font-size: 0.5cm;
    font-weight: bolder;
    font-style: oblique;
    color: black;
    text-align:inherit;
}
input.elem-group{
    border: 2px solid black;
    color: black;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    line-height: 120px;
    margin: 1%;
    padding:3%;
}
button{
    color: white;
    border: 2px solid black;
    background-color: #4B86AB;
    width: 100%;
    height: 0.6cm;
    margin: 1%;
}

form{
    background-color: #D5EAF7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.7cm solid #D5EAF7;
    box-shadow: inherit;
}
.logo-chico{
    border-radius: 120px;
    height: 2cm;
    width: 2cm;
    margin-top: 3cm;
    align-items: center;   
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;   
}