<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa a Mundo Mascotas</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="form">
        <span class="form__title">Registrate en Mundo Mascotas!</span>
        <% if(locals.errores){
            errores.forEach(error => { %>
            <p><%= error.msg %></p>
        <% })
        }
        %>
        <form action="/login" method="post">
            <div class="form__input">
                <i class="ri-mail-line"></i>
                <input type="email" name="Email" placeholder="Email" id="email" value="<%= locals.old && old.Email ? old.Email : '' %>" >
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="Password" placeholder="Contraseña"  id="password"minlength="8" >
                <span class="bar"></span>
            </div>
            <div class="form__input">
            <span class="recordame"name="recordame">Recordame</span>
            <input type="checkbox" name="recordame">
            </div>
            <button type="submit" class="form__button">Ingresar</button>
            <span class="form__switch">
                Registrate <a href="/login/register">Login</a>
            </span>
            <span class="form__switch">
                Olvidaste tu contraseña? <a href="/login/olvido">Restablecela</a>
            </span>
            <span class="form__switch">Regresar al <a href="/">inicio</a></span>
        </form>
    </div>
</body>

</html>

