<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="css/not-found.css">

        <title>Responsive 404 website - Bedimcode</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    MUNDO MASCOTAS
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link">Inicio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Nosotros</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Contacto</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">Error 404</span>
                        <h1 class="home__title">Hola!</h1>
                        <p class="home__description">
                            No podemos encontrar la pagina <br> que estas buscando.
                        </p>
                        <a href="/" class="home__button">
                            Ir al inicio
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="images/logos/ghost-img.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <span>(554) 987-654</span>
                    <span>|</span>
                    <span>info@mundomascotas.com.ar</span>
                </footer>
            </section>
        </main>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="assets/js/scrollreveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
    </body>
</html>