<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms 01</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="form">
        <span class="form__title">Registrate en Mundo Mascotas!</span>
        <form action="/register" method="post">
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="client_name" placeholder="Nombre" required>
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="client_surname" placeholder="Apellido" required>
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="client_dni" placeholder="DNI" required>
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="client_telephone" placeholder="Telefono" required>
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-mail-line"></i>
                <input type="email" name="client_email" placeholder="Email" required>
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="password" placeholder="Contraseña" required>
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="confirm_password" placeholder="Confirme contraseña" required>
                <span class="bar"></span>
            </div>
            <button type="submit" class="form__button">Registrarme</button>
            <span class="form__switch">
                Ya tenes cuenta?? <a href="/login">Login</a>
            </span>
        </form>
    </div>
</body>

</html>