<!DOCTYPE html>

<html lang="en">


  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Restablece tu contraseña</title>
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/register.css">
  </head>
  
  <body>
      <div class="form">
          <span class="form__title">Restablece tu usuario en Mundo Mascotas!</span>
          <form action="/login/olvido" method="post">
              <div class="form__input">
                  <i class="ri-mail-line"></i>
                  <input type="email" name="client_email" placeholder="Email" required>
                  <span class="bar"></span>
              </div>
              <div class="form__input">
                  <i class="ri-lock-line"></i>
                  <input type="password" name="password" placeholder="Nueva contraseña" required>
                  <span class="bar"></span>
              </div>
              <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="password" placeholder="Repita nueva contraseña" required>
                <span class="bar"></span>
            </div>
              <button type="submit" class="form__button">Restablecer usuario</button>
              <span class="form__switch">Regresar al <a href="/">inicio</a></span>
          </form>
      </div>
  </body>
  
  </html>