<!DOCTYPE html>
  <html lang ="es">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
      <div class="form">
        <span class="form__title">Crear nuevo color</span>
          <form action="/administrar/colores" method="POST" >
            <div class="form__input">
              <label for="name_color" class="form-label">Crear nuevo color</label>
              <input type="text" class="form-input" id="name_color" placeholder="Ej: Celeste" required name="name_color">
              <span class="bar"></span>
            </div>
            <div class="botones-formulario" style="padding-top: 2%; display: flex; justify-content: space-evenly;" >
              <button class="btn btn-primary" type="submit">Guardar</button>
              <a href="/administrar" class="volver-atras" style="color: steelblue; text-decoration-line: unset">Volver al Administrador</a>            
            </div>
          </form>
      </div>
      <%- include('../partials/footer.ejs') %>
    </body>
  </html>
