<!DOCTYPE html>
  <html lang ="es">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
      <div class="form">
        <span class="form__title">Crear nuevo envio</span>
        <div class="container products-wrapper">
          <form action="/administrar/envios" method="POST" >
            <div class="form__input">
              <label for="name_id_delivery_method" class="form-label">Crear nuevo metodo de envio</label>
              <input type="text" class="form-input" id="name_id_delivery_method" placeholder="Ej: Correo Argentino" required name="name_id_delivery_method">
              <span class="bar"></span>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="submit" >Guardar metodo de envio</button>
              <a href="/administrar" class="btn btn-warning">Volver al Administrador</a>
            </div>
          </form>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </body>
  </html>
