<!DOCTYPE html>
<html lang ="es">
    <%- include('../partials/head.ejs') %>
    <body>
        <header>
            <div class="contenedor">
                <div class="top-header">
                    <span class="logo-chico">
                        <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
                    </span>
                </div>
                <div class="top-header">
                    <nav>  
                        <span class="form" action="label" method="GET">
                            <span class="barra-de-busqueda">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                            </span>
                        </span>
                    </nav>
                </div>
                <div class="top-header">
                    <nav>
                        <span><a href="/login"><i class="fas fa-user-alt"></i></a></span> 
                        <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
                        <button class="btn btn-primary" type="submit"><a href="/login/register">Registrate</a></button>
                    </nav>    
                </div>   
            </div>
        </header>
        
        <section class="form-login">
            <div><img class="logo-chico" src = "images/logos/logo2.png" alt="Banner Mundo Mascotas"></div>
                <form>
                    <label>Administrador de productos en Mundo Mascotas</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Crear nuevo producto</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Actualizar producto existente</label>
                    </div>
                </form>
        </section>
    </body>
</html>