<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Perfil de usuario</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href = https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css rel = "stylesheet">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </head>
  
    <header>
        <div class="contenedor">
        <div class="top-header">
            <span class="logo-chico">
                <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
            </span>
        </div>
        <div class="top-header">
            <nav>  
                <span class="form" action="label" method="GET">
                    <span class="barra-de-busqueda">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </span>
                </span>
            </nav>
    
            <!-- <div>
            <h2>SearchPrueba</h2>
            <form action="/producto/search">
                <input type="text" name="search">
                <input type="submit" value="Search">
            </form>
            </div> -->

        </div>
            <div class="top-header">
                <nav>
                    <% if (locals.isLogged){ %>
                <span><a href="/perfil"><i class="fas fa-user-alt"></i></a></span> 
                <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
                <% } else { %>
                    
                    <button class="btn btn-light" type="submit"><a href="/login/register" style="color: black; ">Registrate</a></button>
                    <button class="btn btn-light" type="submit"><a href="/login" style="color: black;">Log In</a></button>
                    <% } %>
                </nav>    
            </div>              
        </div>
    </header>
    
    <body>
        
        <main class="contenedor-checkout">
            <h1 class="mt-5 mb-3 h2 text-center"> Checkout - Carrito de compras</h1>
            <div class="container wow fadeIn animated">
                    <div class="card my-5">
                        <div class="card-body">
                            <table class="table table-responsive-md mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">
                                            <strong>id</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Producto</strong>
                                        </th>
                                        <th class="th-lg ">
                                            <strong>Precio</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Subtotal</strong>
                                        </th>
                                        <th style="width: 50px;"></th>
                                    </tr>
                                </thead>
                                <tbody class="cartRows">
                                        <tr>
                                            <td>3</td>
                                            <td>Royal Canin Mini Adulto</td>
                                            <td>$ 20000</td>
                                            <td style="text-align: center;">2</td>
                                            <td style="text-align: center;">$ 40000</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Eukanuba Adulto</td>
                                            <td>$ 7000</td>
                                            <td style="text-align: center;">1</td>
                                            <td style="text-align: center;">$ 7000</td>
                                        </tr>
                                </tbody>
                            </table>
                            <div class="card-footer text-right">
                                <h4 style="display: flex; justify-content: center;">Total: <span class="totalAmount">$ 47000</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center" style="background-color: inherit;
                        border-bottom: white;">
                            <h2>Finalizar la compra</h2>
                        </div>
                        <form class="card-body" id="checkoutCart">
                            <div class="row">
                                <div class=" col-md-6 mb-4">
                                    <label for="country">Tipo Envio</label>
                                    <select class="custom-select d-block w-100" id="shippingMethod" name=" shippingMethod"
                                        required="" style="height: 40px;">
                                        <option value="">Seleccione...</option>
                                        <option value="FedEx">FedEx</option>
                                        <option value="Correo">Correo Argentino</option>
                                        <option value="Andreani">Andreani</option>
                                        <option value="DHL">DHL</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Elija un tipo de envio.
                                    </div>
                                        
                                </div>
                                <div class=" col-md-6 mb-4">
                                    <label for="country">Pago</label>
                                    <select class="custom-select d-block w-100" id="paymentMethod" name="paymentMethod"
                                        required="" style="height: 40px;">
                                        <option value="">Seleccione...</option>
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Débito">Tarjeta Débito</option>
                                        <option value="Crédito">Tarjeta Crédito</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Elija un tipo de envio.
                                    </div>
                                        
                                </div>
                            </div>

                            
                                <button class="btn btn-success btn-lg btn-block waves-effect waves-light" type="button" id="liveToastBtn">Comprar</button>
                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast" class="toast toast-lg" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <i class="fa-regular fa-circle-check"></i>
                                            <!-- <img src="..." class="rounded me-2" alt="..."> -->
                                            <strong class="me-auto">Estado de compra</strong>
                                            <small>1 mins ago</small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            ¡Tu compra fue realizada con éxito!
                                        </div>
                                    </div>
                                </div>
                            
                                <button class="btn btn-warning btn-lg btn-block waves-effect waves-light"type="submit"><a href="/" style="color: black;">Seguir comprando</a></button>
                            
                        </form>
                    </div>
                </div>
            </main>


        <%- include('../partials/footer.ejs') %>
        
        <!-- <script src="/js/cart.js"></script> -->

        <script>
            const toastTrigger = document.getElementById('liveToastBtn');
            const toastLiveExample = document.getElementById('liveToast');

            if (toastTrigger) {
            toastTrigger.addEventListener('click', () => {
                const toast = new bootstrap.Toast(toastLiveExample, {
                delay: 3000
                
                });

                toast.show();
            });
            }
          </script>
    </body>
</html>
