<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <header>
      <div class="contenedor">
        <div class="top-header">
            <span class="logo-chico">
                <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
            </span>
        </div>
        <div class="top-header">
            <nav>  
                <span class="form" action="label" method="GET">
                    <span class="barra-de-busqueda">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                          </form>
                    </span>
                </span>
            </nav>
        </div>
        <div class="top-header">
            <nav>
              <span><a href="/login"><i class="fas fa-user-alt"></i></a></span> 
              <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
                <button class="btn btn-primary" type="submit"><a href="/login/register">Registrate</a></button>
            </nav>    
        </div>   
      </div>
    </header>
    
    
    <div class="container">

      <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Eliminar  </th>
        </tr>
      </thead>
      <tbody class="cart"></tbody>
    </table>

    
  
        <div class="checkout" >


          <ul class="detalle">
            <li>Precio:</li>    
            <li>Impuestos (IVA):</li>  
            <li>
              Total:
            </li> 
          </ul>
          <span>
            <button>Comprar</button>
            <button>Volver</button>
          </span>
        </div>      </div>

  <%- include('../partials/footer.ejs') %>
  </body>
  <script >
const products = [
  {
    name: "Alimento para perro (5kg)",
    price: 100,
    image:
      "https://puppis.vteximg.com.br/arquivos/ids/167601-1000-1000/150042.jpg?v=637021774562500000",
    q: 1,
  },
];

const tableBody = document.querySelector(".cart");

let tableContent = products.reduce((body, product, index) => {
  let total = product.price * product.q;
  return (
    body +
    `
            <tr>
    <td>
      <img
        src="${product.image}"
        alt="${product.name}"
        height="50"
        width="50"
      />
    </td>
    <td>
      <p>${product.name}</p>
    </td>
    <td>
      <p>${product.price}</p>
    </td>
    <td class="quantity"><button>-</button>${product.q}<button>+</button></td>
    <td><p>${total}</p></td>
    <td class="delete"> 
    <i class="fa fa-trash"/>
    </td>    
  </tr> `
  );
}, "");

tableBody.innerHTML = tableContent;


  </script>
</html>
