<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>

  
    <main class="container">

      
      <div class="left-column">
        <img data-image="Bolsa" class="active" src="images/Productos/Alimento Perro.png" alt="">
        <img data-image="Alimento" src="images/Productos/Alimento Perro 2.png" alt="">
        <img data-image="Informacion nutricional" src="images/Productos/Alimento Perro 3.png" alt="">
      </div>

      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>ALIMENTO DE PERRO</span>
          <h1>Royal Canin - Puppy</h1>
          <p>Alimento para perros cachorros de talla pequeña (hasta 10kg de peso adulto). Hasta los 10 meses de edad.</p>
        </div>

  
          <!-- Weight Configuration -->
          <div class="weight-config">
            <span>Peso del Alimento</span>

            <div class="weight-choose"> 
              <button>1 kg</button>
              <button>5 kg</button>
              <button>10 kg</button>
            </div>

            <a href="#">Información nutricional</a>
          </div>
        </div>
    
        <!-- Product Pricing -->
        <div class="product-price">
          <span>2.200$</span>
          <a href="#" class="cart-btn">Agregar al Carrito</a>
        </div>
      </div>
    </main>
    
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
   
        <%- include('../partials/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    </body>

</html>